SECRET_KEY=django-insecure-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
ALLOWED_HOSTS=localhost,127.0.0.1

DB_NAME=secret_db
DB_USER=secret_user
DB_PASSWORD=secret_pass
DB_HOST=db
DB_PORT=3306

GUNICORN_WORKERS=3
GUNICORN_LOG_LEVEL=info