@import "bootstrap/scss/bootstrap";

@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';

.container {
    // ограничиваем ширину на больших разрешениях
    max-width: map-get($container-max-widths, xl) !important;
}

header {
    background: #17191D;
}

section.agencyField {
    background: #000000;
}

section.sliderField {
    background: #17191D;
}

.subtext {
    color: #C3CDDD;
}

.puctire-max-width {
    max-width: 450px;
    height: auto;
}


img.space-icons {
    max-width: 48px;
}

@media (min-width: 992px) {
    img.space-icons {
        max-width: 64px;
    }
}

.slick-slide {
    margin: 5px;
  }

@media (min-width: 992px) {
  .slick-slide {
    margin: 10px;
  }
}

.slick-next,
.slick-prev {
    width: 48px !important;
    height: 48px !important;
    padding: 0px !important;

}

.slick-next::before, 
.slick-prev::before {
    font-family: inherit !important;
    border-radius: 100% !important;
    color: white !important;
    background: red !important;
    width: 100% !important;
    padding: 8px 10px !important;
    font-size: 18px !important;
    margin: -20px;
}

.slick-prev::before {
    margin-right: 28px;
}

.slick-next::before {
    margin-left: 28px;
}

.slider-nav .slick-current {
    box-sizing: border-box;
    box-shadow: 0 0 0 3px #fff;
    border-radius: 3px;
}

.slider-main img,
.slider-nav img,
.eath img {
    border-radius: 1%;
}

.slider-main img {
    cursor: pointer;
}

/*.slider-nav .slick-slide img {
  height: 80px;
  object-fit: cover;
  width: 100%;
}*/