<header>
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark">
      <button class="navbar-toggler" 
          type="button" 
          data-bs-toggle="collapse" 
          data-bs-target="#navbarMenu" 
          aria-controls="navbarMenu" 
          aria-expanded="false" 
          aria-label="Открыть меню">
        <span class="navbar-toggler-icon"></span>
      </button>

      <a href="#" class="navbar-brand me-auto">
        <img class="ms-3 ms-lg-0 space-icons" src="{{ MEDIA_URL }}nasa-logo.svg">
      </a>

      <div class="collapse navbar-collapse justify-content-center order-2 order-lg-1" id="navbarMenu">
        <ul class="navbar-nav">
          <li class="nav-item"><a class="nav-link text-white" href="#">ПРЕИМУЩЕСТВА</a></li>
          <li class="nav-item"><a class="nav-link text-white" href="#">ФОТОГРАФИИ</a></li>
        </ul>
      </div>

      <button type="button" class="btn btn-danger order-1 order-lg-2">ВХОД</button>
    </nav>
  </div>
</header>